<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/476ffe44-8c43-4c06-8f3d-26a550e56baa/resourceGroups/vigneshwara-RG/providers/Microsoft.ContainerRegistry/registries/CatalogService20221201152530</ResourceId>
    <ResourceName>CatalogService20221201152530</ResourceName>
    <ResourceGroup>vigneshwara-RG</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://catalogservice20221201152530.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d42b5154-e573-4967-b1db-9ac69ee58bdc</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>